body{
    font-family: Arial;
    border: solid 1px black;
}

.logo{
    width:40%;
    margin-left:50px;
    margin-top:50px;
    float: left;
}
    
hr{
    width:620px;
    height:2px;
    background:black;
    float: right;
    margin-bottom: 100px;;
}

.productstitle{
    text-align: center;
    background-color: yellow; 
    width:150px;
    float:left;
    margin-left: 250px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.productstitleblank{
    float:left;
    margin-left: 250px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: x-large;
}


.products{
    display: block;  
}


.cart{
    background-color: yellow; 
    width:70px;
    float: right;
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 60px;

}

.cartblank{
    float:right;
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: x-large;
}

.our{
    float: left;
    margin-left:40px;
    margin-bottom: 50px;
    font-size: x-large;
}

a{
    color: black;
    text-decoration: none;
}


.box{
    width:80%;
    height:auto;
    text-align: left;
    margin-left: auto;  
    margin-right: auto; 
}

img.products{
    width: 100%;
    border: black solid 2px;
}

.box:hover{
    border: solid 5px yellow;
    background-color: yellow;
}


.column {
    float: left;
    width: 32%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* index2 */

.original{
    float: left;
    width:50%;
    height:auto;
    margin-left: 150px;
}

img#ocr{
    width:100%;
    border: black solid 2px;
}

.ad {
    text-align: left;
    width:20%;
    float:right;
    margin-right: 100px;
}


#glazing{
    text-align: left;
    width:20%;
    float:right;
    margin-right: 100px;
}

.menu1{
    text-align: left;
    width:18%;
    float:right;
    margin-right: 128px;
}

#pack{
    text-align: left;
    width:20%;
    float:right;
    margin-right: 100px;
}

.menu2{
    text-align: left;
    width:18%;
    float:right;
    margin-right: 128px;
}

.add{
    text-align: left;
    width:20%;
    float:right;
    margin-right: 110px;
}

.atc{
    border: black solid 1px;
    padding: 5px;
    background-color: yellow;
}


select{
    width:100%;
    height: 30px;
}

/* index3 */
.products3{
    text-align: left;
    width:10%;
    margin-left: auto;  
    margin-right: auto;
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    border: black solid 2px;
}

.remove{
    text-align: center;
}

.texts{
    text-align: center;
}

.checkout{
    text-align: center;
    margin-left: auto;  
    margin-right: auto;
    border: black solid 1px;
    padding: 5px;
    width: 7%;
    background-color: yellow;

}
